# Server Configuration
SERVER_PORT=9023
SERVER_NAME=localhost

# Frontend Configuration
APP_PORT=3000
APP_NAME=localhost

# Logging
LOG_LEVEL=info

# Puppeteer (for Mermaid CLI)
PUPPETEER_SKIP_DOWNLOAD=true
